<%= form_for @image, :html => { :multipart => true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <!-- <div style="margin: auto; text-align: center" class="field">
    <%= f.label :attachment %>
    <p style="margin: auto;"><%= f.file_field :attachment %></p>
  </div> -->

  <div class="field">
    <%= f.hidden_field :album_id, value: @album.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
      <!-- <#% redirect_to images_path %> -->
  </div>

<% end %>
